<div class="border border-2 rounded-2 p-2 m-2">
  <div style="text-align: center">
    <h3>Employees</h3>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      @for (emp of employees; track emp.eId) {
        <tr>
          <td>{{ emp.eId }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.sal }}</td>
          <td>{{ emp.gender }}</td>
          <td><button class="btn btn-primary" (click)="deleteEmployee(emp.eId)">Delete</button></td>
        </tr>

        <tr></tr>
      }

      @if (employees.length === 0) {
        <tr>
          <td colspan="8" class="text-center">No Employees Found</td>
        </tr>
      }
    </tbody>
  </table>
</div>
